<div class="login-box card">
    
    <img src="/images/logo-anzai-desktop.png" alt="Logo Casa Anzai" class="login-logo">
    
    <h1 class="login-title">Login</h1>
    <p class="login-subtitle">Acesso ao Sistema Interno</p>

    <div class="card-body">
        <form action="/auth/login" method="POST">
            
            {{#if error}}
                <div class="form-error">
                    {{error}}
                </div>
            {{/if}}

            <div class="form-group">
                <label for="username">Utilizador:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            
            <div class="form-group">
                <div class="btn-access">
                    <button type="submit" class="btn btn-primary btn-full-width">
                        Entrar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>